A problem with cluster member

When we declare a cluster, we could only use the hostname as the cluster member and we couldn't use the ip address which is more convenient for us to define a cluster.

hi, DO experts, we might need your help about creating an ha-cluster via the do-declaration.

When we tried to build a cluster using the ip address in the member fields, it always fails. While if we replace the ip address with the hostname, it will succeed.  We are wondering if we MUST use the hostname for the clustering purpose OR I did something wrong.

Following is the syntax I used for the testing purpose.

1) OK case

“failoverGroup”: {
               “class”: “DeviceGroup”,
               “type”: “sync-failover”,
               “members”: [
                   “96bff6f7-7309-4158-adec-3f13950abe1e.f5bigip.local”,
                   “00f48878-0fcf-4534-b636-23916700b2d0.f5bigip.local”
               ],
               “owner”: “96bff6f7-7309-4158-adec-3f13950abe1e.f5bigip.local”,
               “autoSync”: true,
               “saveOnAutoSync”: false,
               “networkFailover”: true,
               “fullLoadOnSync”: false,
               “asmSync”: false
           },

2) failed case

“failoverGroup”: {
               “class”: “DeviceGroup”,
               “type”: “sync-failover”,
               “members”: [
                   “10.250.15.111”,
                   “10,.250.15.112"
               ],
               “owner”: “10.250.11.111",
               “autoSync”: true,
               “saveOnAutoSync”: false,
               “networkFailover”: true,
               “fullLoadOnSync”: false,
               “asmSync”: false
           },




When we used the ip address, we didn’t get any error hints actually. When we tried to get the result via the provided task url, the result is always “processing”. Checked at the bigip side, the configure didn’t take effect actually.


Daniel Stokes [10:36 PM]
@Jikui I saw a similar thing when I tried using HA yesterday. My recommendation for now is to always use hostname for the members field. 


Jikui [10:11 AM]
@Daniel Stokes Daniel, Much thanks for your help.  Do we have the plan to support the ip address as the member? Personally, I believe ip address is more convenient for us to define the cluster.


Daniel Stokes [10:33 PM]
@Jikui I agree, ip address is more convenient. Since the declaration was not rejected by the schema, I suspect ip addresses are intended to work. So this is likely a bug.


Jikui [10:05 AM]
@Daniel Stokes For tracking purpose, we filed an issue for this cluster member case. https://github.com/F5Networks/f5-declarative-onboarding/issues/65

jikui
#65 A problem with cluster member
When we declare a cluster, we could only use the hostname as the cluster member and we couldn't use the ip address which is more convenient for us to define a cluster.
F5Networks/f5-declarative-onboarding | Aug 26th | Added by GitHub

Thanks


Daniel Stokes [10:39 PM]
@Jikui Thank you for filing the issue.



According to the schema, only hostnames are supported in the members field:
```
"members": {
    "description": "Members to add to the device group if they are already in the trust domain",
    "type": "array",
    "items": {
        "type": "string",
        "format": "hostname"
    }
}
```

For better or worse, IP addresses are valid hostnames. (See [RFC 1123 Section 2](https://tools.ietf.org/html/rfc1123#page-13)).

I'm not sure right now whether or not we can support IP addresses as member names but we will investigate with #65.

@jikui , currently it looks like there is a typo where the owner IP does not match either of the member IPs. Can you confirm behavior if the typo in the declaration is fixed?

```
“members”: [
“10.250.15.111”,
“10,.250.15.112"
],
“owner”: “10.250.11.111",
```

Forrester，
 
I have tested again for several times with the correct owner and confirmed that this issue still persists.
 
When we change the ip address to hostname, the HA cluster could be established.
 
Attach the scheme we used for the testing for your reference.
 
 
 
 
Node A:
 
{
    "class": "DO",
    "targetHost": "10.250.15.167",
    "targetPort": 443,
    "targetUsername": "admin",
    "targetPassphrase": "admin",
    "targetTimeout": "900",
    "declaration": {
        "schemaVersion": "1.5.0",
        "class": "Device",
        "async": true,
        "label": "Basic onboarding",
        "Common": {
            "class": "Tenant",
            "hostname": "2f1e23a3-68db-418e-b3fa-5f5fcd370473.f5bigip.local",
            "myProvision": {
                "class": "Provision",
                "ltm": "nominal",
                "asm": "nominal"
            },
            "myDns": {
                "class": "DNS",
                "nameServers": [
                    "8.8.8.8"
                ],
                "search": [
                    "openstack.local"
                ]
            },
            "myNtp": {
                "class": "NTP",
                "servers": [
                    "0.pool.ntp.org",
                    "1.pool.ntp.org",
                    "2.pool.ntp.org"
                ],
                "timezone": "UTC"
            },
          
            
            "configsync": {
                "class": "ConfigSync",
                "configsyncIp": "10.250.16.148"
            },
            "failoverAddress": {
                "class": "FailoverUnicast",
                "address": "10.250.16.148"
            },
            "failoverGroup": {
                "class": "DeviceGroup",
                "type": "sync-failover",
                "members": [
                    "10.250.15.167",
                    "10.250.15.195"
                ],
                "owner": "10.250.15.167",
                "autoSync": true,
                "saveOnAutoSync": false,
                "networkFailover": true,
                "fullLoadOnSync": false,
                "asmSync": false
            },
            "trust": {
                "class": "DeviceTrust",
                "localUsername": "admin",
                "localPassword": "admin",
                "remoteHost": "10.250.15.195",
                "remoteUsername": "admin",
                "remotePassword": "admin"
            }
        }
    }
}
 
Node B:
 
{
    "class": "DO",
    "targetHost": "10.250.15.195",
    "targetPort": 443,
    "targetUsername": "admin",
    "targetPassphrase": "admin",
    "targetTimeout": "900",
    "declaration": {
        "schemaVersion": "1.5.0",
        "class": "Device",
        "async": true,
        "label": "Basic onboarding",
        "Common": {
            "class": "Tenant",
            "hostname": "e54d9b73-b202-49e3-b88d-cbeec2d4137c.f5bigip.local",
            "myProvision": {
                "class": "Provision",
                "ltm": "nominal",
                "asm": "nominal"
            },
            "myDns": {
                "class": "DNS",
                "nameServers": [
                    "8.8.8.8"
                ],
                "search": [
                    "openstack.local"
                ]
            },
            "myNtp": {
                "class": "NTP",
                "servers": [
                    "0.pool.ntp.org",
                    "1.pool.ntp.org",
                    "2.pool.ntp.org"
                ],
                "timezone": "UTC"
            },
           
            
            "configsync": {
                "class": "ConfigSync",
                "configsyncIp": "10.250.16.150"
            },
            "failoverAddress": {
                "class": "FailoverUnicast",
                "address": "10.250.16.150"
            },
            "failoverGroup": {
                "class": "DeviceGroup",
                "type": "sync-failover",
                "members": [
                    "10.250.15.167",
                    "10.250.15.195"
                ],
                "owner": "10.250.15.167",
                "autoSync": true,
                "saveOnAutoSync": false,
                "networkFailover": true,
                "fullLoadOnSync": false,
                "asmSync": false
            },
            "trust": {
                "class": "DeviceTrust",
                "localUsername": "admin",
                "localPassword": "admin",
                "remoteHost": "10.250.15.167",
                "remoteUsername": "admin",
                "remotePassword": "admin"
            }
        }
    }
}
 
 
 
Thanks
Jikui
 

Forrester，
 
I have tested again for several times with the correct owner and confirmed that this issue still persists.
 
When we change the ip address to hostname, the HA cluster could be established.
 
Attach the scheme we used for the testing for your reference.
 
 
 
 
Node A:
 
{
    "class": "DO",
    "targetHost": "10.250.15.167",
    "targetPort": 443,
    "targetUsername": "admin",
    "targetPassphrase": "admin",
    "targetTimeout": "900",
    "declaration": {
        "schemaVersion": "1.5.0",
        "class": "Device",
        "async": true,
        "label": "Basic onboarding",
        "Common": {
            "class": "Tenant",
            "hostname": "2f1e23a3-68db-418e-b3fa-5f5fcd370473.f5bigip.local",
            "myProvision": {
                "class": "Provision",
                "ltm": "nominal",
                "asm": "nominal"
            },
            "myDns": {
                "class": "DNS",
                "nameServers": [
                    "8.8.8.8"
                ],
                "search": [
                    "openstack.local"
                ]
            },
            "myNtp": {
                "class": "NTP",
                "servers": [
                    "0.pool.ntp.org",
                    "1.pool.ntp.org",
                    "2.pool.ntp.org"
                ],
                "timezone": "UTC"
            },
          
            
            "configsync": {
                "class": "ConfigSync",
                "configsyncIp": "10.250.16.148"
            },
            "failoverAddress": {
                "class": "FailoverUnicast",
                "address": "10.250.16.148"
            },
            "failoverGroup": {
                "class": "DeviceGroup",
                "type": "sync-failover",
                "members": [
                    "10.250.15.167",
                    "10.250.15.195"
                ],
                "owner": "10.250.15.167",
                "autoSync": true,
                "saveOnAutoSync": false,
                "networkFailover": true,
                "fullLoadOnSync": false,
                "asmSync": false
            },
            "trust": {
                "class": "DeviceTrust",
                "localUsername": "admin",
                "localPassword": "admin",
                "remoteHost": "10.250.15.195",
                "remoteUsername": "admin",
                "remotePassword": "admin"
            }
        }
    }
}
 
Node B:
 
{
    "class": "DO",
    "targetHost": "10.250.15.195",
    "targetPort": 443,
    "targetUsername": "admin",
    "targetPassphrase": "admin",
    "targetTimeout": "900",
    "declaration": {
        "schemaVersion": "1.5.0",
        "class": "Device",
        "async": true,
        "label": "Basic onboarding",
        "Common": {
            "class": "Tenant",
            "hostname": "e54d9b73-b202-49e3-b88d-cbeec2d4137c.f5bigip.local",
            "myProvision": {
                "class": "Provision",
                "ltm": "nominal",
                "asm": "nominal"
            },
            "myDns": {
                "class": "DNS",
                "nameServers": [
                    "8.8.8.8"
                ],
                "search": [
                    "openstack.local"
                ]
            },
            "myNtp": {
                "class": "NTP",
                "servers": [
                    "0.pool.ntp.org",
                    "1.pool.ntp.org",
                    "2.pool.ntp.org"
                ],
                "timezone": "UTC"
            },
           
            
            "configsync": {
                "class": "ConfigSync",
                "configsyncIp": "10.250.16.150"
            },
            "failoverAddress": {
                "class": "FailoverUnicast",
                "address": "10.250.16.150"
            },
            "failoverGroup": {
                "class": "DeviceGroup",
                "type": "sync-failover",
                "members": [
                    "10.250.15.167",
                    "10.250.15.195"
                ],
                "owner": "10.250.15.167",
                "autoSync": true,
                "saveOnAutoSync": false,
                "networkFailover": true,
                "fullLoadOnSync": false,
                "asmSync": false
            },
            "trust": {
                "class": "DeviceTrust",
                "localUsername": "admin",
                "localPassword": "admin",
                "remoteHost": "10.250.15.167",
                "remoteUsername": "admin",
                "remotePassword": "admin"
            }
        }
    }
}
 
 
 
Thanks
Jikui
 

After some further investigation into this, we have determined that we are unable to support using IP addresses to define cluster members in a Declarative Onboarding declaration. This is due to limitations in the APIs that Declarative Onboarding uses to configure clusters.

Closing for inactivity. If you are still experiencing an issue, feel free to reopen this issue or create a new one.